<div class="content">
        <header  class="header header--">
            <div  class="section__inner header__inner">
                <div  class="u-width-1/1 u-display-flex">
                    <a  class="header__logo"  href="/">
                        <img [src] = "logo">
                        </a>
                    <div class="u-display-flex u-flex-direction-column u-flex-1@md u-align-items-flex-end">
                        <div  class="u-align-items-center u-display-none u-display-flex@md">
                            <svg  aria-hidden="true"   class="svg svg--phone svg--25 call-to-action__icon u-margin-right-sm"></svg>
                            <p  class="header__contact js-call-center-info" data-fuse="" data-fuse-format="1-###-###-####" data-fuse-name="ES-SOE-FUSE-PERMA-BANNER"  style="visibility: visible;">1-844-874-5016</p>
                        </div>
                        <nav  class="navigation">
                            
                            <div  style="height:30px;text-align:center">
                                <div  style="width: 155px;margin:auto">
                                    <i style="float:left;">
                                        <div  style="width: 20px;height:20px;">
                                            <svg aria-hidden="true" class="svg-inline--fa fa-phone fa-w-16 fa-lg"
                                                data-icon="phone" data-prefix="fas" focusable="false" role="img"
                                                viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                                <path  class=""  d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </div>
                                    </i>
                                    <i style="float:left;margin-left:15px;font-weight: bold;">1-833-429-7598</i>
                                </div>
                            </div>
                            <div class="needhelp">
                                <b><a href="" >Need help?</a></b>
                            </div>
                           
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="orderlist" >
                <div class="col-md-3">
                    <a [routerLink]="['../../sign1',param]">
                        <h3 >1</h3>
                        <span>Offers</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['../../sign3',param]">
                        <h3 >2</h3>
                        <span>Service address</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['../../sign4',param]">
                        <h3 class="active">3</h3>
                        <span>Customer information</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['../../sign5',param]">
                        <h3 >4</h3>
                        <span>Confirmation</span>
                    </a>
                </div>
            </div>
            <div class="submain">
                <div class="col-md-3 left">
                    <label>Your Selected Electronic Plan</label>
                    <div class="planexpression">
                        <h3>Avarage Price</h3>
                        <h1>7.4<i>$</i></h1>
                        <label>Per KW</label><br>
                        <label>based on 1000kWh/mo</label><br>
                        <div class="detail">
                            <label class="left"><b>PLAN NAME:</b></label>
                            <label class="right">Gexa Saver Deluxe</label>
                        </div>
                        <div class="detail">
                            <label class="left"><b>RATE TYPE:</b></label>
                            <label class="right">Fixed</label>
                        </div>
                        <div class="detail">
                            <label class="left"><b>ENTRY CANCELLATION:</b></label>
                            <label class="right">$150</label>
                        </div>
                        <button>TERMS OF SERVICE</button>
                        <button>TERMS OF SERVICE</button>
                        <button>TERMS OF SERVICE</button>
                    </div>
                </div>
                <div class="col-md-9 left" style="text-align:left;padding-top:30px">
                    <div class="home" style="display:none">
                        <b>Personal Information</b>
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input type="text">
                            </div>  
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input type="text">
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                                <input type="text">
                            </div>  
                            <div class="col-md-6">
                                <label>Confirm Email</label>
                                <input type="text">
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date of Birth</label>
                                <input type="date">
                            </div>  
                            <div class="col-md-6">
                                <label>Phone</label>
                                <input type="text">
                            </div>                        
                        </div>
                        <b>Utility Credit Check</b>
                        <div class="row">
                            <div class="col-md-11">
                                <label>All energy companies in Texas run a credit check to determine if a deposit will be required. This is a "soft" credit check that will not impact your credit score.</label>                                
                            </div>                                                
                        </div>
                        <b></b>
                        <div class="row">
                            <div class="col-md-11">
                                <label>Your information is securely transmitted over an encrypted connection.</label>                                
                            </div>                                                
                        </div>
                        <b></b>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Social Security Number</label>                                
                                <input type="text">
                            </div>                                                
                        </div>
                        <b></b>
                        <div class="row">
                            <div class="col-md-12">
                               <input type="checkbox">
                               <label>I hereby authorize EnergyCo run a credit check and perform all necessary tasks to establish electricity service. I accept the terms and conditions of the ComparePower <a href="" style="color:red;background:none;text-decoration: underline;display:inline;padding:0;margin:0">privacy poclicy</a> and <a href="" style="color:red;display:inline;background:none;text-decoration: underline;">terms of service</a>.</label>
                            </div>                                                
                        </div>
                    </div>
                    <div class="business" style="display:none">
                        <b>Bussiness Information</b>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Legal Entity Name</label>
                                <input type="text">
                            </div>                        
                        </div>
                        <b>Entity Type</b>
                        <div class="row">
                            <div class="col-md-12">                            
                                <input name="entity" type="radio"><label>Corperation</label><br>
                                <input name="entity" type="radio"><label>LLC</label><br>
                                <input name="entity" type="radio"><label>Partnership</label><br>
                                <input name="entity" type="radio"><label>Sole Proprietoship</label><br>
                                <input name="entity" type="radio"><label>Non-profit</label><br>
                            </div>                        
                        </div>
                        <div class="row" style="margin-top:20px">
                            <div class="col-md-6">
                                <label>Federal Tax ID (9-digit business tax ID number)</label>
                                <input type="text" >
                            </div>                        
                        </div>
                        <div class="row" style="margin-top:20px">
                            <div class="col-md-6">
                                <label>Business Name or BBA</label>
                                <input type="text" >
                            </div>                        
                        </div>
                        <div class="row" style="margin-top:20px">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input type="text" >
                            </div>     
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input type="text" >
                            </div>                     
                        </div>
                            
                    </div>
                    <div class="row" style="margin-top:20px">
                        <a [routerLink]="['../../sign3',param]" class="left">
                            <i style="padding-left:10px">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.494 31.494" style="width:15px;enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
                                    <path style="fill:#fff;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554  c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587  c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
                                    
                                </svg>
                            </i>
                            Back to Plans
                            
                        </a>
                        <a [routerLink]="['../../sign5',param]" class="right">Continue
                            <i style="padding-left:10px">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;width:17px" xml:space="preserve">
                                    <path style="fill:#fff;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
                                </svg>
                            </i>
                        </a>
                    </div>  
                   
                </div>
            </div>
        </div>
    </div>